body {
  font-family: Arial, sans-serif;
  background-color: #c5fff8;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 50px;
  color: #436850;
  font-size: 50px;
  text-shadow: 1px 1px 1px #000;
  font-weight: 900;
}

form {
  max-width: 320px;
  height: 300px;
  margin: 0 auto;
  background-color: #436850;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 5px 7px 10px #f9f9f9;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f9f9f9;
}

input[type="text"],
select {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 9px;
  background-color: transparent;
}

select {
  color: #f9f9f9;
}

option {
  background-color: #436850;
  color: #f9f9f9;
}

input::placeholder {
  color: #f9f9f9;
}

input:focus {
  color: #f9f9f9;
}

button {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #eab135;
  border: 1.5px solid #eab135;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  border-radius: 13px;
}

button:hover {
  background-color: #eab135;
  color: #f9f9f9;
  transition: 0.5s;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.swal-overlay {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.swal-modal {
  width: 80% !important;
  max-width: 1000px !important;
}

.swal-content {
  overflow-x: auto;
}
